[Unit]
Description=Battery Charging Sound Monitor
After=default.target

[Service]
ExecStart=%h/dotfiles/scripts/ac_plug.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
