[Unit]
Description=Keyd User Service (Sudo Wrapper)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/sudo /usr/bin/keyd
# prevent looping
Restart=on-failure
RestartSec=5s
StartLimitIntervalSec=30s
StartLimitBurst=3

[Install]
WantedBy=default.target
