@theme "../global.rasi"

configuration {
  sort:			true;
  sorting-method:	"normal";
  disable-history:	false;
  scroll-method:	0;
  window-thumbnail:	true;
}

mainbox { children: [ inputbar, listview ]; }

inputbar {
  children:		[ prompt ];
  expand:		false;
  padding:		10px 10px 10px 10px;
}

prompt { 
  enabled: true; 
  background-color:	@bg;
  padding:		10px;
  border-radius:	15px;
}

listview {
  columns:		2;
  cycle:		true;
  dynamic:		true;
  layout:		vertical;
  scrollbar:		false;
}
