@define-color bg         rgba(17, 17, 23, 0.4);
@define-color bg-opaque  rgba(17, 17, 23, 0.9);
@define-color bg-alt1    rgba(23, 23, 32, 0.3);
@define-color bg-alt2    rgba(34, 34, 42, 0.3);
@define-color bg-alt3    rgba(39, 39, 64, 0.3);
@define-color bg3-opaque rgba(39, 39, 64, 1  );
@define-color fg1        #E0E0E0;
@define-color fg2        #50EA7B;
@define-color fg3        #6BC7DD;
@define-color fg4        #FE1858;

* {
        font-family: "CaskaydiaCove Nerd Font", "Caskaydia Cove";
        font-size: 13px;
}

tooltip {
        background-color: @bg-opaque;
        border: 2px solid @bg-alt3;
}

tooltip label {
        color: @fg1;
}

window#waybar {
        background-color: @bg;
        color: @fg1;
        transition-property: background-color;
        transition-duration: .5s;
}

window#waybar.hidden {
        opacity: 0.2;
}

.modules-right {
        min-width: 750px;
}

button {
        /* Use box-shadow instead of border so the text isn't offset */
        box-shadow: inset 0 -3px transparent;
        /* Avoid rounded borders under each button name */
        border: none;
        border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
        background: @bg-alt2;
}


#workspaces button {
        background-color: @bg-alt1;
        color: @fg3;
        padding: 0 5px;
        padding-right: 7.5px;
}

#workspaces button:hover {
        background: @bg-alt2;
}

#workspaces button.focused, #workspaces button.active {
        background-color: @bg-alt3;
}

#workspaces button.urgent {
        background-color: @fg4;
        color: @fg1;
}

#workspaces button.empty {
        color: @bg-alt3;
}

#window {
        color: @fg1
}

#custom-archlogo,
#privacy,
#custom-syncthing,
#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#power-profiles-daemon {
        padding: 0px 10px;
        color: @fg3;
        background-color: @bg-alt1;
}

#custom-archlogo {
        padding-left: 15px;
}

#window,
#workspaces {
        margin: 0 4px;
}

#clock {
        background-color: @bg-alt1;
        padding: 0 5px;
}

#battery {
        background-color: @bg;
        color: @fg3;
}

#battery.charging, #battery.plugged {
        background-color: @bg;
        color: @fg2;
}

@keyframes blink {
        to {
                background-color: #ffffff;
                color: @fg4;
        }
}

#battery.critical:not(.charging) {
        background-color: @bg-alt2;
        color: @fg4;
        animation-name: blink;
        animation-duration: 0.5s;
        animation-timing-function: steps(12);
        animation-iteration-count: infinite;
        animation-direction: alternate;
}

#power-profiles-daemon {
        background-color: @bg-alt1;
}

#power-profiles-daemon.performance {
        color: @fg4;
}

#power-profiles-daemon.balanced {
        color: @fg3;
}

#power-profiles-daemon.power-saver {
        color: @fg2;
        padding-right: 15px;
}

#cpu {
        min-width: 47px;
 /*
        background-color: @bg-alt3;
        border-radius: 30px;
        color: @fg3;
*/
}

#disk,
#load {
        background-color: transparent;
        color: @fg2
}

#load {
        margin-right: 10px;
        margin-left: 5px;
}

/*
#memory {
        background-color: transparent;
        color: @fg3;
}
*/

#backlight {
        background-color: @bg-alt1;
}

#network {
        background-color: @bg;
        padding-right: 14px;
}

#network.connected {
        color: @fg3;
}

#network.disconnected {
        color: @fg4;
}

#pulseaudio {
        background-color: @bg;
        color: @fg3;
        padding-bottom: 0.2px;
}

#pulseaudio.muted {
        color: @fg4;
}

#keyboard-state {
        background: #97e1ad;
        color: #000000;
        padding: 0 0px;
        margin: 0 5px;
        min-width: 16px;
}

#keyboard-state > label {
        padding: 0 5px;
}

#keyboard-state > label.locked {
        background: rgba(0, 0, 0, 0.2);
}

#privacy {
        padding: 0;
        border-radius: 30px;
        background-color: @bg-alt3;
}

#privacy-item {
        padding: 0 5px;
        color: @fg2;
}

#custom-syncthing {
        padding-right: 14px;
}

#custom-syncthing.synched {
        color: @fg3;
}

#custom-syncthing.synching {
        color: @fg2;
}

#statistics {
        background-color: @bg-alt2;
        border-radius: 30px;
        margin: 0 4px;
}

#custom-shutdown,
#custom-restart,
#custom-sleep,
#custom-lock,
#custom-logout {
        color: @fg3;
        font-size: 19;
        font-weight: bold;
        margin: 0 5px;
}

#custom-logout {
        margin-right: 5px;
}

#custom-lock {
        font-size: 18;
}

#custom-shutdown {
        font-size: 16.5;
}

#custom-power {
        background-color: @bg-alt3;
        color: @fg4;
        border-radius: 999px;
        min-width: 25px;
        min-height: 25px;
}

#power {
        margin-left: 5px;
        background-color: @bg-alt2;
        border-radius: 999px;
}
