@theme "../global.rasi"

element {
  children: [ element-text ];
  orientation: horizontal;
}

element-text {
  markup: true;
}

element selected {
  background-color: @fg-alt;
  border-radius: 15px;
}
